<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

<aop:aspectj-autoproxy />

<bean id="triangle" class = "com.bridgelabz.model.Triangle">
<property name="name" value="triangleName" />
</bean>

<bean id="circle" class = "com.bridgelabz.model.Circle">
<property name="name" value="circleName" />
</bean>

<bean id="shape" class="com.bridgelabz.services.Shape" autowire="byName" />

<bean id="loggingAspect" class="com.bridgelabz.aspects.LoggingAspect"/>

</beans>
